/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #loader{
        width:30%;
        height:20%;
    }
    .top-logo {
        margin-right: 100px;
    }    
    .about-details {
        margin-right:100px;               
    }    
    .profile-image {
        margin-left: 110px;
    }
    .education-details {
        padding-left: 400px;
        padding-right: 60px;
    }
    .skills {
        padding-left: 110px;
        margin-top: 10px;
        width: 240px;
    }
    .project-details td {
        padding-left: 20px;
    }
    .contact-form {
        padding-left: 180px;
    }
    .social-link {
        padding-right: 120px;
    }
    .contact-form p {
        font-size: 10px;
    }
    .contact-form h3 {
        padding-left: 60px;
    }
    .main {
        margin: 0px 0px;
        margin-top: 80px;
        margin-bottom: 0px;    
    }
  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .top-logo {
        margin-right: 100px;
    }
    .about-details {
        margin-right:100px;
    }
    .profile-image {
        margin-left: 110px;
    }
    .project-details td {
        padding-left: 30px;
    }
    .contact-form h3 {
        padding-left: 110px;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #loader{
        height: 40%;
        width: 20%;
    }
    .top-logo {
        margin-right: 440px;
    }
    .about-details {
        margin-right:180px;
    }
    .profile-image {
        margin-left: 190px;
    }
    .education-details {
        padding-left: 630px;
        padding-right: 100px;
        width: 500px;
    }
    .skills {
        padding-left: 160px;
        width: 300px;
    }    
    .project-details td {
        padding-left: 100px;
    }
    .contact-form {
        padding-left: 200px;
    }
    .social-link {
        padding-right: 200px;
    }
    .contact-form h3 {
        padding-left: 120px;
        font-size: 30px;
    }
    .contact-form p {
        font-size: 20px;
    }
    .main {
        margin-top: 80px;    
    }
 }

/* Extra large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) { 

 }*/