body {
    font-family: "Times";   
    margin: 0; 
}
.header li,.education-details li {
    list-style: none;
}
.header {
    background-color: rgb(74, 74, 197);
    color: white;
    height: 80px;    
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;            
}
.top-logo {
    float: left;
    font-size: xx-large;
    padding: 2px;    
    margin-left: 50px;
    margin-top: 16px;
    color: white;
}
.top-list li{
    float: left;
    padding: 16px 20px;
}
.top-list a {
    color: white;
}
.skill-list {
    border: 2px solid darkblue;
    border-radius: 20px;
    background-color: rgba(209, 201, 92, 0.7);
}

.details {
    background-color: rgba(137, 43, 226, 0.692);
    padding-bottom: 40px;
    margin-top: 0px;
}
.about {
    color: rgb(0, 68, 255);   
    height: 490px;    
    padding-bottom: 60px;  
    background: url("data/Rocky-Mountains-High-Definition-Wallpapers.jpg");
    background-size: cover;
}
.about-details {
    float: right;
    text-align: center;    
    margin-top: 0px;    
    height: 390px;
}    
.about-details h2 {
    font-size: 36px;
    padding-top: 20px;
    color: rgb(43, 226, 165);
}
.intro {
    background-color: rgba(240, 248, 255, 0.664);
    border: 0px solid;
    border-radius: 15px;
    padding: 5px 10px 2px 10px;
    margin-top: 0px;
}
.about-details p {    
    text-align: center;    
    width: 300px;
    font-size: 20px;
}
.project-heading h2{
    text-align: center;    
    padding-top: 5px;      
}
.profile-image {
    height: 80%;
    width: 30%;    
    margin-top: 80px;    
    border: 0px solid;
    border-radius: 10px;
}    
.skills {
    float: left;    
    color: beige;    
}
.skill-top {
    font-size: 40px;
    text-align: center;
}
.skills li {
    padding: 20px 0px;
    padding-right: 40px;
    font-size: 15px;
}
.education-details {
    text-align: center;    
    color: cornsilk;
    margin-bottom: 10px; 
    padding-top: 10px;       
}
.education-details h2 {
    font-size: 30px;
}
.edu {
    border: 2px solid darkblue;
    border-radius: 20px;
    background-color: rgba(22, 231, 231, 0.568);
}
.achiev {
    text-align: center;
    background: rgb(250, 7, 149);
    /* margin: -20px 0; */
    padding-bottom: 20px;
}
.achiev-heading {
    padding: 5px 0;
}
.achiev-details img{
    width: 280px;
    margin-top: 05px;
    border: 2px solid none;
    border-radius: 10px;
    height: 159px;
    margin-left: 20%;
    margin-right: 40px;
}
.achiev-details p{
    width: 280px;
    margin-left: 20%;
    margin-right: 40px;
    color: aliceblue;
}
.achiev-details p span{
    font-weight: bold;
}
.projects {
    background-color: rgba(240, 255, 255, 0.4);
    padding-left: 5px;
}
.project-details {
    padding-left: 100px;      
    width: 280px; 
    padding-bottom: 10px;   
}
.project-details img {
    width: 280px;
    margin-top: 40px;
    border: 2px solid yellow;
    border-radius: 10px;
    height: 159px;
}
.project-details p{
    text-align: center;
    padding-bottom: 10px;
}
.other-pages {
    background-color: rgba(0, 255, 255, 0.575);
    padding-left: 10px;
    height: 170px;    
    padding-bottom: 40px;
}
.other-pages h3 {
    text-align: center;
    padding: 20px 0px;
    font-size: 25px;
}
.other-pages li a{
    font-size: 20px;
    color: rgba(238, 81, 225, 0.911);    
}
.other-pages td {
    padding-left: 60px;
}
.social-link {
    float: right;
    padding-top: 120px;
}  
a {
    text-decoration: none;
} 
.social-link h3 {
    padding-left: 10px;
    text-align: center;
}
.social-link i{
    color: rgb(252, 252, 252);
    margin: 20px 10px; 
    font-size: 28px; 
    text-align: center;  
}
input,textarea,button {
    width: 320px;    
    margin-top:2px;
    margin-bottom:5px;
    padding: 10px;
    font-size:18px;
    border:1px solid #bccad1;
    border-radius: 8px;    
}
textarea {
    height: 80px;
}
.contact-form h3 {    
    color: antiquewhite;  
}
.contact-form p {
    color: wheat;
}
.contact-form {
    padding-top: 30px;
    padding-bottom: 20px;    
}
.contact-submit {
    background-color: rgb(165, 163, 163);    
    display: inline-block;
    box-shadow: 0 2px grey;
}
.contact-submit:hover {
    background-color: blue;
}
.contact-submit:active {
    background-color: rgb(165, 163, 163);
    box-shadow: 0 2px black;
    transform: translateY(2px);
}
.footer {
    background-color: rgba(80, 80, 150, 0.5);
    margin-left: 0px;
    margin-right: 0px;    
    padding-bottom: 40px;
}